.form-group {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1rem;

    .dropdown-group {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        
        .dropdowns {
            display: flex;
            flex-direction: row;
            gap: 1rem;
        }
    }
}
.api-key-blurb {
    display: block;
    margin-top: 0.5rem;
    font-size: 0.875rem;
    color: var(--primary-700);
}
.custom-major-blurb {
    display: block;
    margin-top: 0.5rem;
    font-size: 0.875rem;
    color: var(--primary-700);

    a {
        cursor: pointer;
        text-decoration: underline;
    }
}