.home-page {
    .course-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    .course-header-text {
        font-size: 1.25rem;
        font-weight: bold;
        flex: 3;
    }
    .course-header-progress {
        flex: 1;
        text-align: right;

        .course-header-progress-bar {
            margin-bottom: 0.5rem;
        }
        .course-header-progress-text {
            font-size: 0.875rem;
            color: #555;
        }
    }
}
}