.nav-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: var(--primary-800);
    
    .nav-header-left {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;

        .nav-header-logo {
            height: 75px;
            width: 75px;
            border-radius: 50%;
        }
    
        .nav-header-text {
            display: flex;
            flex-direction: column;
            color: white;
    
            h1, h3 {
                margin: 0;
            }
            h1 {
                font-weight: 700;
                font-size: 22px;
                line-height: 1.2;
            }
            h3 {
                font-weight: 500;
                letter-spacing: 0.05em;
                font-size: 14px;
                line-height: 2;
                font-style: italic;
            }
        }
    }
}

.ta-interaction-box {
    width: 50vw;

    .ta-chat-history {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
        margin-bottom: 10px;

        .chat-bubble {
            font-size: 14px;
            line-height: 1.5;
            margin-bottom: 10px;
            padding: 10px;
            border-radius: 5px;
            max-width: 80%;
            display: inline-block;
            margin: 0px;
        }

        .ta-response {
            background-color: var(--gray-100);
            align-self: flex-start;
        }
    
        .student-response {
            background-color: var(--primary-500);
            color: white;
            align-self: flex-end;
        }
    }

    .ta-input-form {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
}

.outlet-container {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: calc(100vh - 170px); // At least fills the page
}

.app-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: var(--primary-700);
    color: white;
}