.nav-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: var(--primary-700);
    
    .nav-header-left {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;

        .nav-header-logo {
            height: 75px;
            width: 75px;
            border-radius: 50%;
        }
    
        .nav-header-text {
            display: flex;
            flex-direction: column;
            color: white;
    
            h1, h3 {
                margin: 0;
            }
            h1 {
                font-weight: 700;
                font-size: 22px;
                line-height: 1.2;
            }
            h3 {
                font-weight: 500;
                letter-spacing: 0.05em;
                font-size: 14px;
                line-height: 2;
                font-style: italic;
            }
        }
    }


    .nav-header-links {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 25px;

        .nav-header-admin-label {
            color: var(--red-500);
            font-weight: bolder;
        }
        .nav-header-admin-label,
        .nav-header-link {
            font-size: 26px;
        }
        .inactive {
            text-decoration: none;
        }
        .active {
            text-decoration: underline;
        }
    }
}

.outlet-container {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: calc(100vh - 170px); // At least fills the page
}

.app-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: var(--primary-700);
    color: white;
}